body{
	font-family:Arial, sans-serif;
	color:#333;
}
body>*{
	width:650px;
	margin:0 auto;
}
.container:after{
	clear:both
	content:" ";
	display:table;	
}
.container>div{
	float:left;
}
.puzzle,
.pieces{
	width:300px;
	height:300px; 
	border:1px solid #333;
}
.pieces>div,
.puzzle>div{
	height:100px;
	width:100px;
	float:left;	
}
.pieces{margin-left:30px;}
div[id^="piece_"]{
	height:100px;
	width:100px;
	background:url("../img/back.jpg") no-repeat;
	background-size: 300px 300px;
	
}
#piece_1{background-position:0 0;}
#piece_2{background-position:-100px 0;}
#piece_3{background-position:-200px 0;}
#piece_4{background-position:0 -100px;}
#piece_5{background-position:-100px -100px;}
#piece_6{background-position:-200px -100px;}
#piece_7{background-position:0 -200px;}
#piece_8{background-position:-100px -200px;}
#piece_9{background-position:-200px -200px;}
footer{width:100%; float:none;}
#reset{
	float:none;
	margin:20px auto;
	width:300px;
	display:block;
}