body{
	font-family:Arial, sans-serif;
	color:#333;
}
body>*{
	width:50%;
	margin:0 auto;
}
table{
	border-spacing:0;
	margin-bottom:25px;
}
caption{
	font-weight:bold;
	font-size:1.5em;
}
th,td{
	padding:8px 16px;
	border-bottom:1px solid #DEB887;
}

tr>td:nth-child(even){
	background-color:#faebd7;
}
td{
	text-align:right;
}