body{
    /*font-family: Arial, Helvetica, sans-serif;
    font-family:Helvetica, sans-serif;*/
    /*font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
    font-family:Helvetica, sans-serif;
    font-size:1em;
    padding: 0 1%;
    max-width:1000px;
    margin:2% auto;
    background-color:#000000;
    color:#000000;
}
header, main, #contact, footer{
    background-color:#ffffff;
    clear:both;
    display:block;
    margin:0;
    padding: 40px;

}
main{
    padding-top:0;
    padding-bottom:0;
}
p, h1, h2, h3, h4, h5, h6{
    margin:0;
    font-weight: normal;
}
h3{
    font-size:1.2em;
}
ul{
    margin:0;
}
a:link{
    color:#000000;
    text-decoration:none;
}
a:visited{
    color:#000000;
}
a:hover{
    text-decoration:underline;
}
hr{
    clear:both;
    display:block;
    opacity:0;
}

header ul{
    list-style-type:none;
    margin:0px 30px 0 0;
    padding:0;
}
header{
    padding: 10px 0 10px 20%;
    min-height:350px;

    background-image: url(../images/planebanner.jpg);
    background-position: center top;
    background-repeat:no-repeat;
    background-color:#000000;
}
header li{
    display: inline-block;
    margin: 10px 2px;
}
header a{
    border: 2px solid #1a1a1a;
    padding:5px;
}
header a:hover{
    text-decoration:none;
    border: 2px solid #ffffff;
    transition:border 500ms;
    color: #ffffff;
    transition: 500ms;
}
header>h1{
    font-size:2.5em;
    margin:0 30px 10px 0;
    padding:0;
    color:#1a1a1a;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
header p{
    margin: 0 30px 10px 0;
}

.col-1{
    width:18.1%;
    float:left;
    padding:.9%;
}
.col-1 img{
    height:auto;
}
.col-2{
    width:50%;
    float:left;
}
.col-2 img{
    height:auto;
}
.col-3{
    width:60%;
    float:left;
}
.col-3 img{
    width:100%;
    height:auto;
}
.col-4{
    width:80%;
    float:left;
}
.col-5{
    width:100%;
    flaot:left;
}

#mission p{
    font-style:italic;
    margin:0 auto;
    max-width: 40%;
    padding: 80px 0;
    text-align:center;
}

#portfolio{
    background-image: url(../images/greytile.png);
    background-position: left top;
    background-repeat:repeat;
    background-color:#ffffff;
    margin: 0 -40px;
    padding: 1px 40px 20px 40px;
}

#gdContent, #webContent, #fineContent, #writeContent, #photoContent{
    clear:both;
    overflow:auto;
    margin: 40px 0 20px 0;
}

#gdContent img, #webContent img, #fineContent img, #writeContent img, #photoContent img{
    float:left;
    
}

#webContent img{
    width:100%;
    margin-bottom:10px;
    
}
#webContent div{
    width:45.2%;
    float:left;
    padding:2.4%;
}

#writeContent img{
    width:100%;
    margin-bottom:10px;
}
#writeContent div{
    
    width:18.1%;
    float:left;
    padding:.9%;

}

.dynamic-component{
    position:relative;
    
}
.dynamic-component>.dynamic-component-content{
    max-height:0;
    overflow:hidden;
    transition:max-height 300ms ease-out;
}
.dynamic-component>label{
    background-color:brown;
    display:block;
    padding:0;
}
.dynamic-component>input{
    position:absolute;
    display:block;
    height:20px;
    opacity:0;
}
.dynamic-component>input:checked+label+.dynamic-component-content{
    max-height:1000px;
    max-width:1000px;
    width:500%;
    margin: 0;
    transition: max-height 3s;
}

#education, #work{
    width:45.2%;
    float:left;
    padding: 2.4% 0;
}

#courses, #proficiencies{
    width:45.2%;
    float:right;
    padding:2.4% 0;
}
#work{
    clear:left;
    padding-top:0;
}
#proficiencies{
    padding-top:0;
}

#contact{
    color:#ffffff;
    background-image: url("../images/planefooter.jpg");
    background-position: center bottom;
    background-repeat:no-repeat;
    background-color:#000000;
    margin: 0 -40px;
    min-height: 200px;
    padding-left: 20%;
}
#contact ul{
    list-style-type:none;
    margin:0px 30px 0 0;
    padding:0;
}
#contact li{
   
    margin: 10px 2px;
}

footer{
    display:block;
    clear:both;
    color:#ffffff;
    background:#000000;
    font-size:.8em;
    text-align:center;
    padding-bottom:0px;
}


/*Responsive to screen size aand printer*/
@media screen and (max-width:768px){
    body{
        
    }
    main{
        
    }
    #portfolio{
        padding:20px;
        
    }
    #gdContent{
        margin-top:0;
    }
    div[class^="col-"]{
         float:none;
         width:100%;
         padding-left:0;
         padding-right:0;
    }
    img[class^="col-"]{
         float:none;
         width:100%;
         padding-left:0;
         padding-right:0;
    }
    #webContent div{
        width:100%;
        float:none;
        padding-left:0;
        padding-right:0;
    }
    #writeContent div{
        width:100%;
        float:none;
        padding-left:0;
        padding-right:0;
        padding-bottom: 20px;
    }
    #education, #courses, #work, #proficiencies{
        width:100%;
        float:none;
        padding-left:0;
        padding-right:0;
        padding-bottom: 30px;
    }
}