*{box-sizing: border-box;}
body{
    margin:0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#333;
    font-size: 100%;
}
header,
main,
footer{display: block;}
header{
    background-color:#666600;
    color:#fff;
    padding:16px 32px;
    box-shadow: 0px 0px 5px #000;
}
main,
footer{
    width:80%;
    margin:0 auto;
}
main{
    margin-bottom: 50px;
}
footer{
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6{margin: 0;}
h2{font-size: 1.5rem;}


a{
    color:#333000;
    text-decoration: none;
}
a:active,
a:hover{text-decoration: underline;}
a:visited{
    color:#666633;
}

/**
 *    COMBOS
 */
h1+p{
    margin:0;
    font-weight: bold;
    font-size: 1.25em;
}

/**
 *    CLASSES
 */

.outline{
    list-style-type: upper-roman;
    font-size:1.5rem;
}
.outline ol{
    list-style-type: upper-alpha;
    font-size:1.17rem;    
}
.outline ol ol{
    list-style-type: decimal;
    font-size: 1rem;
}


/**
 *    RESPONSIVE UTILITIES
 */
.sm-visible{display:none;}
@media screen and (min-width: 480px){
    .sm-visible{
        display:block;
    }
    span.sm-visible,
    strong.sm-visible{display: inline;}
}