body{
    background-color: #00A246;
    font-family: 'Raleway', sans-serif;
    padding:2%;
    background-image: url('/img/grassIconColorDark.png'), url('/img/sunIconColor.png');
    background-repeat: no-repeat;
    background-size:20%;
    background-attachment: fixed;
    background-position: 5% 90%, 90% 10%;
}
noscript{
    background-color:white;
    margin: 10px -20px;
    display:block;
    padding:10px;
}

#basicWrapper noscript{
    margin:0;
    padding:0;
}

header{
    width:100%;
}

nav{
    text-align:right;
    padding-right:60px;
}

nav ul{
    list-style-type: none;
    -webkit-padding-start: 0;
}

nav ul li{
    display:inline;
    margin-left:20px;
}
a{
    color:white;
    text-decoration: none;
    border-bottom-color: #00A246;
}
a:hover{
    border-bottom-color: white;
    border-bottom-style: dotted;
    transition: border-bottom-color .8s, border-bottom-style 1s;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin:2px 0;
}
h2{
    font-size: 20px;
    margin:0;
}
aside{
    width: 25%;
    float:left;
    padding: 1%;
    overflow:contain;
}
aside a{
    color:black;
}
p{
    
}

/*Specific Areas*/
#splashDescr{
    background-color: #FFFFFF;
    width: 700px;
    height: 200px;
    position: fixed;
    top: 50%;
    left:50%;
    margin-top:-120px;
    margin-left:-370px;
    padding: 20px;
    border-radius: 5px;
    display:block;
}
#splashDescr p{
    padding-bottom:20px;
}

#splashDescr #quote{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}

#start{
    margin:0px auto;
    padding: 10px 0;
    color:white;
    background-color:#00A246;
    border-radius:5px;
    width:200px;
    text-align:center;
    line-height: 30px;
    vertical-align: middle;
}

#start a{
    color:white !important;
}

#splashDescr #start a:hover{
    text-decoration:none;
}

form{
    margin: 10px 0;
}

#basicWrapper{
    width:75%;
    margin: 20px auto;
    background-color:#ffffff;
    padding: 10px;
    border-radius:5px;
    clear:both;
    overflow-y:auto;
    max-width:1000px;
}

#basicWrapper a{
    color:black;
}

#aboutInfo{
    float:right;
    width:70%;
    padding:0 1%;
    overflow-x:hidden;
}

.signature{
    font-family:'Pacifico', script;
    text-align:right;
}

#tray div {
    border-radius:5px;
    margin-bottom:20px;
    padding: 10px 10px 20px 10px;
}

#tray div p{
    margin:0;
}

@media screen and (max-width:750px){
    #splashDescr{
        height:auto;
        width:75%;
        margin: 0 auto;
        position:static;
    }
    h1{
        font-size:25px;
    }
    h2{
        font-size: 20px;
    }
    #tray div{
    margin-bottom:10px;
    padding: 0;
    }
}
@media screen and (max-width:500px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size:15px;
    }
    #basicWrapper{
        width:95%;
        margin: 20px auto;
        padding: 8px;
    }
    body{
        padding:0;
    }
    
}