		<div id="basicWrapper">
			<aside>
				<img src="img/profile.jpg" alt="Picture of Sammy Harper in front of a waterfall" width="100%">
				<h2>Developer</h2>
				
				<p>Sammy Harper, a University of Nebraska at Kearney Multimedia student created this site in hopes to making the world greener and cleaner.  Sammy has created websites, graphics, videos, and other media.  Look at his personal website <a href="http://www.lopers.net/students/lopers/harpersj/index.html" target="_blank">here</a>.</p>
				<p class = "signature">-Sammy Harper</p>
			</aside>
			<section id="aboutInfo">
				<h1>HelpEarth</h1>
				
				<p>This website and website application is focused on getting others excited about or inspired to change their environmental habits.  The environment is in a terrible place in terms of pollution, global warming, animal diversity and deforestation, and more than ever it needs people to take a stand against current habits.  In order to continue to keep natural wonders such as Caribbean blue waters, the Amazon Rainforest, and panda bears, the world is going to have to make changes.  There are many huge laws and enforcements that will need to be done to make drastic changes, but it all starts with you.  You have to make the effort to save the planet, in order for the planet to actually be saved.  If people take on a greener lifestyle, they can create a domino effect and create a healthier planet. Think about everything you do, and though you may not be able to see the consequences of your decisions, your grandchildren or great-grandchildren definitely will.</p>
				<p>This is where this website comes in.  Those who want to make a difference, but do not know where to start or how to help can take the quiz.  The questions on the quiz will give you a better idea on how you can make changes to your current lifestyle in order to help the world.  Some may be bigger than others, but all can make a difference. </p>
				<img src="img/grassline.png" alt="decorative grass">
			</section>
	</div>