
	    	<section id="splashDescr">
				<p id="quote">“They may do nothing, but that does not mean they want to do nothing.”</p>
				<p>The Earth is not only a beautiful place animals and plants call home, but it is our home as well. Learn how you can do your part in keeping the planet a happy and healthy place for us all.</p>
				<p id="start"><a href="ques-1.html">Get Recommendations</a></p>
				<noscript>(JavaScript is turned off, meaning you will not receive personalized recommendations)</noscript>
			</section>
