<div id="basicWrapper">
    <section class="quizBody">
    	<h1>Have you taken a class that covers Environmental topics?</h1>
    	
    	<form>
            <input type="radio" name="q10" value="yes">Yes<br>
            <input type="radio" name="q10" value="no" checked="checked">No<br>
        </form>
    	
    	<p id="start"><a href="results.html">Finish</a></p>
    </section>
</div>