<div id="basicWrapper">
    <section class="quizBody">
    	<h1>How often do you watch TV/movies/etc. that cover environmental topics?</h1>
    	
    	<form>
            <input type="radio" name="q5" value="all">All of the time<br>
            <input type="radio" name="q5" value="most">Most of the time<br>
            <input type="radio" name="q5" value="some">Sometimes<br>
            <input type="radio" name="q5" value="rarely">Rarely<br>
            <input type="radio" name="q5" value="never" checked="checked">Never
        </form>
    	
    	<p id="start"><a href="ques-6.html">Next</a></p>
    </section>
</div>