<div id="basicWrapper">
    <section class="quizBody">
    	<h1>How often do you recycle plastics?</h1>
    	
    	<form>
            <input type="radio" name="q2" value="all">All of the time<br>
            <input type="radio" name="q2" value="most">Most of the time<br>
            <input type="radio" name="q2" value="some">Sometimes<br>
            <input type="radio" name="q2" value="rarely">Rarely<br>
            <input type="radio" name="q2" value="never" checked="checked">Never
        </form>
    	
    	<p id="start"><a href="ques-3.html">Next</a></p>
    </section>
</div>