<div id="basicWrapper">
   	<section class="quizBody">
    	<h1>How do you usually get around?</h1>
    	
    	<form>
            <input type="radio" name="q1" value="public-transport">Public Transportation<br>
            <input type="radio" name="q1" value="car">Car<br>
            <input type="radio" name="q1" value="bike">Bike<br>
            <input type="radio" name="q1" value="board">Skateboard/Longboard/Penny Board<br>
            <input type="radio" name="q1" value="foot" checked="checked">Foot
        </form>
    	
    	<p id="start"><a href="ques-2.html">Next</a></p>
    </section>
</div>