<div id="basicWrapper">
    <section class="quizBody">
    	<h1>Do you turn the lights off when leaving a room?</h1>
    	
    	<form>
            <input type="radio" name="q9" value="yes">Yes<br>
            <input type="radio" name="q9" value="no" checked="checked">No<br>
        </form>
    	
    	<p id="start"><a href="ques-10.html">Next</a></p>
    </section>
</div>