<div id="basicWrapper">
    <section class="quizBody">
    	<h1>Do you keep the water running when you brush your teeth?</h1>
    	
    	<form>
            <input type="radio" name="q7" value="yes">Yes<br>
            <input type="radio" name="q7" value="no" checked="checked">No<br>
        </form>
    	
    	<p id="start"><a href="ques-8.html">Next</a></p>
    </section>
</div>