<div id="basicWrapper">
    <section class="quizBody">
    	<h1>I only litter when____. (Pick the option that occurs most frequently)</h1>
    	
    	<form>
            <input type="radio" name="q6" value="no-can">There isn’t a recycle bin/trash can in sight<br>
            <input type="radio" name="q6" value="lazy">There is a recycle bin/trash close, but I don’t want to have to walk over<br>
            <input type="radio" name="q6" value="car">I do not want to fill my car with trash<br>
            <input type="radio" name="q6" value="biodegrad">I know the object I am tossing is biodegradable<br>
            <input type="radio" name="q6" value="accident">I accidently drop something and cannot go back to pick it up<br>
            <input type="radio" name="q6" value="never" checked="checked">I never litter, I always take my trash with me until I can dispose of it<br>
        </form>
    	
    	<p id="start"><a href="ques-7.html">Next</a></p>
    </section>
</div>