<div id="basicWrapper">
   <section class="quizBody">
    	<h1>How often do you recycle paper?</h1>
    	
    	<form>
            <input type="radio" name="q3" value="all">All of the time<br>
            <input type="radio" name="q3" value="most">Most of the time<br>
            <input type="radio" name="q3" value="some">Sometimes<br>
            <input type="radio" name="q3" value="rarely">Rarely<br>
            <input type="radio" name="q3" value="never" checked="checked">Never
        </form>
    	
    	<p id="start"><a href="ques-4.html">Next</a></p>
    </section>
</div>