
	    	<div id="basicWrapper">
	    	    <!-- cards will be displayed here-->
	    	    <h1>Results</h1>
	    	    <p>Read below to find out ways you can help the Earth stay greener and healthier.</p>
	    	    <noscript>Because JavaScript was turned off before starting the quiz, there are not personalized results availible to view.  To see ways you can help the environment, visit <a href="http://greatist.com/happiness/ways-help-environment" target="_blank">this website.</a></noscript>
	    	    <section id="tray">
	    	    	
	    	    </section>
	    	    <p>Together we can make the world a cleaner and healthier place.<br>
	    	    	Next, read more details <a href="about.html">about the website</a></p>
	    	    
	    	</div>
